
<div ng-controller="notisMgmtCtrl as nmc">

  <div class="row placeholders marginTop50">
    <div class="col-xs-6 col-md-2 col-md-offset-2 placeholder">
      <div class="statIndicatorBox activatedBox verticalCenter" ng-click="nmc.tabActivatedClick()">
        <h2>{{nmc.notisStatusCount[0].activated}}</h2>
      </div>
      <h4>활성화 공지사항</h4>
      <span class="text-muted">포스팅되어 있는 공지사항 목록</span>
    </div>
    <div class="col-xs-6 col-md-2 placeholder">
      <div class="statIndicatorBox verticalCenter" ng-class="[{'penddingBox': nmc.notisStatusCount[1].pending == 0}, {'rejectedBox': nmc.notisStatusCount[1].pending > 0}]" ng-click="nmc.tabPendingClick()">
        <h2>{{nmc.notisStatusCount[1].pending}}</h2>
      </div>
      <h4>승인대기</h4>
      <span class="text-muted">승인대기중인 공지사항 목록</span>
    </div>
    <div class="col-xs-6 col-md-2 placeholder">
      <div class="statIndicatorBox penddingBox verticalCenter" ng-click="nmc.tabRejectedClick()">
        <h2>{{nmc.notisStatusCount[2].rejected}}</h2>
      </div>
      <h4>승인거절</h4>
      <span class="text-muted">승인거절된 공지사항 목록</span>
    </div>
    <div class="col-xs-6 col-md-2 placeholder">
      <div class="statIndicatorBox penddingBox verticalCenter" ng-click="nmc.tabAllEventsClick()">
        <h2>{{nmc.notisStatusCount[3].allNotis}}</h2>
      </div>
      <h4>전체 공지사항</h4>
      <span class="text-muted">전체 공지사항 목록</span>
    </div>
  </div>

</div>
