
<div ng-controller="notisRejectListCtrl as nrls">

  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">등록일</th>
        <th class="text-center">제목</th>
        <th class="text-center">거절취소</th>
        <th class="text-center">공지사항 삭제</th>
        <th class="text-center">자세히</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="list in nrls.allRejectedNotisList | orderBy: reverse:true track by $index">
        <td class="text-center">{{nrls.allRejectedNotisList.length - $index}}</th>
        <td class="text-center">{{list.registDate | date: 'yyyy-MM-dd @HH:mm:ss'}}</td>
        <td>{{list.title}}</td>
        <td class="text-center"><button class="btn btn-danger" ng-click="nrls.unReject(list)">거절취소</button></td>
        <td class="text-center"><button class="btn btn-danger" ng-click="nrls.delete(list)">삭제</button></td>
        <td class="text-center"><button class="btn btn-primary" ng-click="nrls.detail(list)">자세히</button></td>
      </tr>
    </tbody>
  </table>


</div>
