
<div ng-controller="adsExpireListCtrl as aelc">

  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">등록일</th>
        <th class="text-center">제목</th>
        <th class="text-center">광고주</th>
        <th class="text-center">광고 개시 날짜</th>
        <th class="text-center">광고 종료 날짜</th>
        <th class="text-center">만료취소</th>
        <th class="text-center">광고 삭제</th>
        <th class="text-center">자세히</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="list in aelc.allExpiredAdsList | orderBy: reverse:true track by $index">
        <td class="text-center">{{aelc.allExpiredAdsList.length - $index}}</td>
        <td class="text-center">{{list.registDate | date: 'yyyy-MM-dd @HH:mm:ss'}}</td>
        <td>{{list.title}}</td>
        <td class="text-center">{{list.author}}</td>
        <td class="text-center">{{list.adDate.startD | date: 'yyyy-MM-dd @HH:mm:ss'}}</td>
        <td class="text-center">{{list.adDate.endD | date: 'yyyy-MM-dd @HH:mm:ss'}}</td>
        <td class="text-center"><button class="btn btn-danger" ng-click="aelc.unExpire(list);">만료취소</button></td>
        <td class="text-center"><button class="btn btn-danger" ng-click="aelc.delete(list);">광고삭제</button></td>
        <td class="text-center"><button class="btn btn-primary" ng-click="aelc.detail(list)">자세히</button></td>
      </tr>
    </tbody>
  </table>

</div>
