<h1 class="page-header">앱 타이틀</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" id="eventTabs">
  <li role="presentation" ng-repeat="tab in appTitle.tabConfig" ng-class="{active: tab.active}"><a href="#" aria-controls="{{tab.en}}" role="tab" data-toggle="tab" ng-click="appTitle.tabClick(tab)">{{tab.name}}</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div ng-repeat="tab in appTitle.tabConfig" ng-if="tab.active" role="tabpanel" class="tab-pane" ng-class="{active: tab.active}" id="{{tab.en}}" ng-include="tab.templateUrl"></div>
</div><!-- Tab Content -->

<!-- 데이터 상태 변경 : 성공/실패 -->
<div class="modal fade" tabindex="-1" role="dialog" id="appTitleModal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header" ng-class="{'bg-success': appTitle.modalContent.state, 'bg-danger': !appTitle.modalContent.state}">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{appTitle.modalContent.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-xs-12 text-center">
            <p>{{appTitle.modalContent.context}}.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 디테일 모달 / 수정기능 -->
<div class="modal fade" tabindex="-1" role="dialog" id="detailsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button ng-if="appTitle.editDisabled" type="button" class="btn btn-danger editBtn" ng-click="appTitle.enableEdit()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button ng-if="!appTitle.editDisabled" type="button" class="btn btn-info editBtn" ng-click="appTitle.disableEdit()"><i class="fa fa-ban" aria-hidden="true"></i></button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{appTitle.selectedItem.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <label for="adHref">광고 클릭-리다이렉트 href 주소</label>
            <input type="text" class="form-control" id="adHref" autocomplete="new-password" ng-model="appTitle.selectedItem.href" ng-disabled="appTitle.editDisabled">
          </div>
        </div>
        <div class="form-group">
          <label for="thumbNailImg">광고 이미지</label>
          <div class="row" id="thumbNailImg">
            <div class="col-md-6">
              <img class="width100 img-thumbnail" ng-src="{{appTitle.selectedItem.titleImage[0].src}}">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-if="!appTitle.editDisabled" type="button" class="btn btn-danger" ng-click="appTitle.editData()">데이터 수정</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- 디테일 모달 / 수정기능 없음 -->
<div class="modal fade" tabindex="-1" role="dialog" id="detailsModalWithoutEdit">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{appTitle.selectedItem.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <label for="adHref">광고 클릭-리다이렉트 href 주소</label>
            <input type="text" class="form-control" id="adHref" autocomplete="new-password" ng-value="appTitle.selectedItem.href" ng-disabled="appTitle.editDisabled">
          </div>
        </div>

        <div class="form-group">
          <label for="thumbNailImg">광고 이미지</label>
          <div class="row" id="thumbNailImg">
            <div class="col-md-6">
              <img class="width100 img-thumbnail" ng-src="{{appTitle.selectedItem.titleImage[0].src}}">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
