
<div class="row">
	<h1>Admin Page</h1>

</div>
<div class="row">
	<div class="col-md-3">
		<nav id="adminSideNav">
			<ul id="adminTab" class="nav nav-pills nav-stacked" role="tablist">
				<li><a href="#title" role="tab" data-toggle="tab">Title</a></li>
				<li><a href="#header" role="tab" data-toggle="tab">Header</a></li>
			</ul>
		</nav>
	</div>

	<div class="col-md-9">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade" id="title">
				<h5>Change title block</h5>
				<form ng-submit="admin.editTitle()">
					<div class="form-group">
						<label for="titleText">Title</label>
						<input type="text" class="form-control" id="titleText" placeholder="{{admin.titleText}}" ng-model="admin.inputData.title">
					</div>

					<button type="submit" class="btn btn-default">Edit</button>
				</form>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="header">
				<h5>Header Code</h5>

			</div>

		</div>



		



	</div>

</div>

