
<div ng-controller="appTitleMgmtCtrl as atmc">

  <div class="row placeholders marginTop50">
    <div class="col-xs-6 col-md-2 col-md-offset-1 placeholder">
      <div class="statIndicatorBox activatedBox verticalCenter" ng-click="atmc.tabActivatedClick()">
        <h2>{{atmc.statusCount[0].activated}}</h2>
      </div>
      <h4>활성화 광고</h4>
      <span class="text-muted">포스팅되어 있는 광고 목록</span>
    </div>
    <div class="col-xs-6 col-md-2 placeholder">
      <div class="statIndicatorBox verticalCenter" ng-class="[{'penddingBox': atmc.statusCount[1].pending == 0}, {'rejectedBox': atmc.statusCount[1].pending > 0}]" ng-click="atmc.tabPendingClick()">
        <h2>{{atmc.statusCount[1].pending}}</h2>
      </div>
      <h4>승인대기</h4>
      <span class="text-muted">승인대기중인 광고 목록</span>
    </div>
    <div class="col-xs-6 col-md-2 placeholder">
      <div class="statIndicatorBox penddingBox verticalCenter" ng-click="atmc.tabRejectedClick()">
        <h2>{{atmc.statusCount[2].rejected}}</h2>
      </div>
      <h4>승인거절</h4>
      <span class="text-muted">승인거절된 광고 목록</span>
    </div>
    <div class="col-xs-6 col-md-2 placeholder">
      <div class="statIndicatorBox penddingBox verticalCenter" ng-click="atmc.tabExpiredClick()">
        <h2>{{atmc.statusCount[3].expired}}</h2>
      </div>
      <h4>광고 종료</h4>
      <span class="text-muted">종료된 광고 목록</span>
    </div>
    <div class="col-xs-6 col-md-2 placeholder">
      <div class="statIndicatorBox penddingBox verticalCenter" ng-click="atmc.tabAllEventsClick()">
        <h2>{{atmc.statusCount[4].allAds}}</h2>
      </div>
      <h4>전체 광고</h4>
      <span class="text-muted">전체 광고 목록</span>
    </div>
  </div>

</div>
