
<div ng-controller="appTitlePendingListCtrl as atplc">

  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">등록일</th>
        <th class="text-center">제목</th>
        <th class="text-center">활성화</th>
        <th class="text-center">승인 거절</th>
        <th class="text-center">자세히</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="list in atplc.allPendingList | orderBy: reverse:true track by $index">
        <td class="text-center">{{atplc.allPendingList.length - $index}}</td>
        <td class="text-center">{{list.registDate | date: 'yyyy-MM-dd @HH:mm:ss'}}</td>
        <td>{{list.title}}</td>
        <td class="text-center"><button class="btn btn-success" ng-click="atplc.activate(list)">활성화</button></td>
        <td class="text-center"><button class="btn btn-danger" ng-click="atplc.reject(list)">거절</button></td>
        <td class="text-center"><button class="btn btn-primary" ng-click="atplc.detail(list)">자세히</button></td>
      </tr>
    </tbody>
  </table>

</div>
