<!DOCTYPE html>
<html lang="en" ng-app="SPAadmin" ng-controller="mainCtrl" ng-cloack>

<head>
    <base href="/admin">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <title>admin</title>

    <!-- Bootstrap -->
    <link href="../libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../libraries/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="../stylesheets/admin-style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body ng-style="bodyStyle">


    <div ng-view></div> 



    <nav class="navbar navbar-inverse navbar-fixed-bottom" style="min-height: 20px;">
            <div class="text-right text-muted" style="font-size: 10px; margin-right:20px;">Powered by <strong>SPA CMS</strong></div>
    </nav>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="libraries/jquery/jquery.min.js"></script>
    <script src="libraries/jquery-ui/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="libraries/chartist/dist/chartist.min.js"></script>
    <script src="libraries/chartist-plugin-axistitle/dist/chartist-plugin-axistitle.min.js"></script>
    <script src="libraries/chartist-plugin-pointlabels/dist/chartist-plugin-pointlabels.min.js"></script>
    <script src="libraries/bootstrap/js/bootstrap.min.js"></script>
    <script src="libraries/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="libraries/angular/angular.min.js"></script>
    <script src="libraries/angular/angular-route.min.js"></script>
    <script src="libraries/angular-ui-ace/ui-ace.js"></script>
    <script src="javascripts/config/SPAfactories.js"></script>
    <script src="javascripts/admin/ADMINroutes.js"></script>



</body>

</html>